@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Hide scrollbar for horizontal nav */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
